@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section navbar{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" style="padding-left:0px;padding-bottom:5px;margin-bottom:5px;">
                    <li><a href="/">首页</a></li>
                    <li class="active">联系我们</li>
                </ol>
                <hr style="border-top:3px solid #D70000;margin-top:0px;" />
            </div>
        </div>
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><strong>安德利包装设备有限公司 </strong></h1>
        </div>
    </div>
    <div class="row" style="margin-left:0px;margin-right:0px;border-top:2px dotted #dcdcdc;">
        <div class="col-md-12">
            &nbsp;<br />&nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;立足深圳，作为一家专业的自动化包装设备制造商，在多年的生产制造、客户服务过程中积累了大量的成功经验，拥有完全自主知识产权的相关技术，开发了适应不同需求的自动化包装设备，广泛适用于食品、制药、日化、五金电子等领域。
                <br />&nbsp;&nbsp;&nbsp;&nbsp;生产的包装设备系列：
                <br />&nbsp;&nbsp;&nbsp;&nbsp;伺服热封口机械：往复式立式包装机，水平间歇包装机，三伺服枕式包装机，盒杯机，自动抽真空包装机等
                <br />&nbsp;&nbsp;&nbsp;&nbsp;伺服收缩封切机：边封型、L型封切机，PE裹包收缩机等。
                <br />&nbsp;&nbsp;&nbsp;&nbsp;包装标识设备：激光喷码机，平面贴标机等
                <br />&nbsp;&nbsp;&nbsp;&nbsp;安德利以推动包装工业自动化为己任,与客户共同打造工业自动化时代，帮助企业提高生产效率和产品质量，降低生产成本。我们经过多年的发展，汇集了一批在行业内享有盛誉的高素质专业人才，构成了强大的研发队伍及高效率的生产、销售团队，并引进与吸收国际先进的生产管理和质量控制程序，一如既往地在品质上精益求精，永不止步，致力于为客户提供更先进、更精密、更智能的生产包装设备。
            </p>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="row empty">
                <div class="col-md-4 empty">
                    &nbsp;
                </div>
                <div class="col-md-2 empty text-right">
                    <img src="images/icon_tel.png" alt="电话" />
                </div>
                <div class="col-md-6 empty text-right">
                    <h1 class="empty" style="padding-bottom:5px;font-size:22px;">400 700 5281</h1>
                    <h5 class="empty">销售/技术支持热线/企业QQ</h5>
                    <h5 class="empty" style="color:#8a8a8a">(周一至周五 8:30~17:30)</h5>
                </div>
            </div>
            <div class="row empty">
                <div class="col-md-12 empty">
                    &nbsp;
                </div>
            </div>
            <div class="row empty">
                <div class="col-md-4 empty">
                    &nbsp;
                </div>
                <div class="col-md-8 empty">
                    <button type="button" class="btn btn-danger btn-block" style="border-radius:10px;" data-toggle="modal" data-target="#myModal">在线留言</button>
                </div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <form action="store/index.htm" method="POST" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="iuput-name" class="col-sm-2 control-label colorwhite">您的称呼<span class="colorred">*</span></label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control radius-message" name="customername" required="required" id="iuput-name" placeholder="您的称呼">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="iuput-tel" class="col-sm-2 control-label colorwhite">电话<span class="colorred">*</span></label>
                                        <div class="col-sm-5">
                                            <input type="tel" class="form-control radius-message" name="customertel" required="required" id="iuput-tel" placeholder="电话">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="iuput-email" class="col-sm-2 control-label colorwhite">E-mail<span class="colorred">*</span></label>
                                        <div class="col-sm-5">
                                            <input type="email" class="form-control radius-message" name="customeremail" required="required" id="iuput-email" placeholder="E-mail">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="iuput-title" class="col-sm-2 control-label colorwhite">地区<span class="colorred">*</span></label>
                                        <div class="col-sm-8">
                                            <select class="form-control radius-message" name="customerarea" required="required" id="iuput-area" placeholder="地区">
                                                <option value="1">江苏，浙江，上海，安徽</option>
                                                <option value="2">广东，广西，福建，湖北，湖南</option>
                                                <option value="3">四川，重庆，贵州，云南，西藏，江西</option>
                                                <option value="4">河北，北京，天津，河南，山东，内蒙，陕西</option>
                                                <option value="5">山西，宁夏，青海，新疆，吉林，黑龙江，辽宁</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="iuput-title" class="col-sm-2 control-label colorwhite">主题</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control radius-message" name="messagetitle" id="iuput-title" placeholder="主题">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="iuput-note" class="col-sm-2 control-label colorwhite">您的留言</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control radius-message" name="messagecontent" id="iuput-note" rows="5" placeholder="您的留言"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            &nbsp;
                                        </div>
                                        <div class="col-sm-9">
                                            <button type="submit" class="btn btn-danger radius-message" style="width:100px;">提交</button>
                                            <input type="hidden" name="_token" value="zSPviX96ZWbukhGu1FfhFOa6j6Psle4F6rZdbv30">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row empty">
                <div class="col-md-12 empty">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left:0px;margin-right:0px;border-top:2px dotted #dcdcdc;">
        <div class="col-md-12">
            &nbsp;<br />&nbsp;
        </div>
    </div>
</div>

<div class="container">
    <div class="row empty">
        <div class="col-md-12 empty">
            <h3><strong>办事处联系方式查询</strong></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover" style="table-layout:fixed;">
                    <thead>
                        <tr class="table-head-th2">
                            <th style="width:15%">办事处</th>
                            <th style="width:15%;border-left:2px solid #ffffff;border-right:2px solid #ffffff;">联系人</th>
                            <th style="width:15%;border-left:2px solid #ffffff;border-right:2px solid #ffffff;">电话</th>
                            <th style="width:15%;border-left:2px solid #ffffff;border-right:2px solid #ffffff;">邮箱</th>
                            <th style="width:40%">负责区域</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <i class="icon-angle-right"></i> 深圳办事处
                            </td>
                            <td>尹承祥</td>
                            <td>15919437181</td>
                            <td>yincx@kinco.cn</td>
                            <td>深圳市,惠州市</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon-angle-right"></i> 东莞办事处
                            </td>
                            <td>沈建平</td>
                            <td>18680470840</td>
                            <td>shenjp@kinco.cn</td>
                            <td>东莞市</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon-angle-right"></i> 广州办事处
                            </td>
                            <td>沈建平</td>
                            <td>18680470840</td>
                            <td>shenjp@kinco.cn</td>
                            <td>广西省,广东除深圳,惠州以外地区</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon-angle-right"></i> 成都办事处
                            </td>
                            <td>熊芯</td>
                            <td>13908235318</td>
                            <td>xiongxin@kinco.cn</td>
                            <td>四川省,重庆市,,贵州省,云南省,西藏</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon-angle-right"></i> 武汉办事处
                            </td>
                            <td>丁涛</td>
                            <td>13986030239</td>
                            <td>dingtao@kinco.cn</td>
                            <td>湖北省,江西省,湖南省</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon-angle-right"></i> 上海办事处
                            </td>
                            <td>潘洋</td>
                            <td>13761905258</td>
                            <td>panyang@kinco.cn</td>
                            <td>上海市</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon-angle-right"></i> 杭州办事处
                            </td>
                            <td>郝东</td>
                            <td>13957140237</td>
                            <td>haodong@kinco.cn</td>
                            <td>浙江省</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon-angle-right"></i> 苏州办事处
                            </td>
                            <td>王刚</td>
                            <td>13771770385</td>
                            <td>wanggang@kinco.cn</td>
                            <td>苏州市,无锡市,常州市</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon-angle-right"></i> 南通办事处
                            </td>
                            <td>李晓星</td>
                            <td>13914777085</td>
                            <td>lixx@kinco.cn</td>
                            <td>江苏省其它地区</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon-angle-right"></i> 南京办事处
                            </td>
                            <td>刘奕</td>
                            <td>17705186269</td>
                            <td>liuyi@kinco.cn</td>
                            <td>南京市,镇江市,安徽省</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon-angle-right"></i> 青岛办事处
                            </td>
                            <td>赵春浩</td>
                            <td>15318701230</td>
                            <td>zhaoch@kinco.cn</td>
                            <td>青岛市,日照市,临沂市,威海市,烟台市</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon-angle-right"></i> 济南办事处
                            </td>
                            <td>高裕卿</td>
                            <td>18615285162</td>
                            <td>gaoyq@kinco.cn</td>
                            <td>山东其它地区</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon-angle-right"></i> 北京办事处
                            </td>
                            <td>毋宁</td>
                            <td>13676977159</td>
                            <td>wuning@kinco.cn</td>
                            <td>北京市,天津市,河北省,内蒙古,东三省（辽宁、吉林、黑龙江）</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon-angle-right"></i> 郑州办事处
                            </td>
                            <td>陈兴盛</td>
                            <td>13803851125</td>
                            <td>chenxs@kinco.cn</td>
                            <td>河南省,陕西省,山西省,宁夏,青海,新疆</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon-angle-right"></i> 厦门办事处
                            </td>
                            <td>赖乾华</td>
                            <td>13615919389</td>
                            <td>laiqh@kinco.cn</td>
                            <td>福建省+汕头+泉州</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>