<div class="container">
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-3"><a href="index.htm"><img src="images/logo_kinco.png" alt="步科Logo" /></a></div>
        <div class="col-md-3 col-sm-3" style="padding-top:5px;">
            <img src="images/language_icon.png" alt="语言" />
            <a class="bordernone" tabindex="0" id="languagelink" role="button" data-toggle="popover" data-trigger="click"
               data-placement="right" data-html="true"
               data-content='
                <a class="colorgray2" href="../en.kinco.cn">English</a><br /><a class="colorgray2" href="http://ru.kinco.cn">русский</a>'><span class="colorgray">Language |</span><span class="colorred">中文</span>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 text-right">
            <a class="btn btn-xs btn-info" href="../web.kinco.cn">返回旧站</a>
        </div>
        <div class="col-md-4 col-sm-6">
            <form action="product/search/index.htm" method="POST" class="form-horizontal">
                <div class="input-group">
                    <input type="text" name="key" class="form-control" placeholder="搜索你需要的产品或资料">
                    <span class="input-group-btn">
                        <button class="btn searchbuttn" type="submit">
                            <i class="icon-search icon-large colorwhite"></i>
                        </button>
                    </span>
                </div>
                <input type="hidden" name="_token" value="j5HQ0xaDsOhrVcsxTfBXy6JMN7H1uEksZZyxeZse">
            </form>
            <!-- /input-group -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <nav id="navMenu" class="navbar navbar-default navbar-static-top" style="margin-bottom:0px;">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarmenu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbarmenu">
                    <ul class="nav navbar-nav" style="width:100%;">
                        <li class="dropdown col-sm-home-1 col-md-home-1 col-lg-home-1 background-navHead text-center menu-product">
                            <a class="dropdown-toggle background-red cursor-pointer" data-toggle="dropdown" role="button" aria-expanded="false" href="#"><span class="nav-text">产品中心</span></a>
                            <ul class="dropdown-menu popover bottom" role="menu" style="width:100%;">
                                <li class="arrow"></li>
                                <li class="nav-menu-hmi" onclick="window.location.href='/product/hmi'">
                                    <span><a class="nav-menu-sub-title" href="product/hmi/index.htm">人机界面</a></span><br />
                                    <span>
                                        <a class="nav-menu-sub-detail" href="productById_079E9298">MT4230T</a>&nbsp;&nbsp;
                                        <a class="nav-menu-sub-detail" href="productById_0E561AA6">MT4434T</a>&nbsp;&nbsp;
                                        <a class="nav-menu-sub-detail" href="productById_1407F555">MT4532T</a>&nbsp;&nbsp;
                                        <a class="nav-menu-sub-detail" href="productById_7D10A40B">F7</a>&nbsp;&nbsp;
                                        <a class="nav-menu-sub-detail" href="productById_D7405566">F10</a>&nbsp;&nbsp;
                                    </span>
                                </li>
                                <li class="nav-menu-plc" onclick="window.location.href='/product/plc'">
                                    <span><a class="nav-menu-sub-title" href="product/plc/index.htm">PLC</a></span><br />
                                    <span>
                                        <a class="nav-menu-sub-detail" href="productById_BBC25D16">K506EA-30AT</a>&nbsp;&nbsp;
                                        <a class="nav-menu-sub-detail" href="productById_36DD0E5B">F122-D1608T</a>&nbsp;&nbsp;
                                        <a class="nav-menu-sub-detail" href="productById_47DDFECD">Kinco_K205_16DT</a>&nbsp;&nbsp;
                                        <a class="nav-menu-sub-detail" href="productById_0DC7A13C">EKC88M</a>&nbsp;&nbsp;
                                        <a class="nav-menu-sub-detail" href="productById_6FA42D9D">KR104</a>&nbsp;&nbsp;
                                    </span>
                                </li>
                                <li class="nav-menu-servo" onclick="window.location.href='/product/servo'">
                                    <span><a class="nav-menu-sub-title" href="product/servo/index.htm">伺服系统</a></span><br />
                                    <span>
                                        <a class="nav-menu-sub-detail" href="productById_9FE0E07D">FD122-CA-000</a>&nbsp;&nbsp;
                                        <a class="nav-menu-sub-detail" href="productById_AAF38EDC">FD432S-CA-000</a>&nbsp;&nbsp;
                                    </span>
                                </li>
                                <li class="nav-menu-stepper" onclick="window.location.href='/product/stepper'">
                                    <span><a class="nav-menu-sub-title" href="product/stepper/index.htm">步进系统</a></span><br />
                                    <span>
                                        <a class="nav-menu-sub-detail" href="productById_2AE58289">FM860-AA-000</a>&nbsp;&nbsp;
                                        <a class="nav-menu-sub-detail" href="productById_2AA09A41">2CM880</a>&nbsp;&nbsp;
                                        <a class="nav-menu-sub-detail" href="productById_15A76ACF">2CM860</a>&nbsp;&nbsp;
                                        <a class="nav-menu-sub-detail" href="productById_10656803">2CM0870</a>&nbsp;&nbsp;
                                    </span>
                                </li>
                                <li class="nav-menu-vfd" onclick="window.location.href='/product/vfd'">
                                    <span><a class="nav-menu-sub-title" href="product/vfd/index.htm">变频器</a></span><br />
                                    <span>
                                        <a class="nav-menu-sub-detail" href="productById_4ED2E996">CV20-2S-0015G</a>&nbsp;&nbsp;
                                        <a class="nav-menu-sub-detail" href="productById_9C5A0A1F">CV100-2S-0022G</a>&nbsp;&nbsp;
                                    </span>
                                </li>
                                <li class="nav-menu-sf" onclick="window.location.href='/product/smartfactory'">
                                    <span><a class="nav-menu-sub-title" href="product/smartfactory/index.htm">智慧工厂</a></span><br />
                                    <span>
                                        <a class="nav-menu-sub-detail" href="productById_B35DFABF">X10</a>&nbsp;&nbsp;
                                        <a class="nav-menu-sub-detail" href="productById_A465753D">智能电子看板47&quot;</a>&nbsp;&nbsp;
                                        <a class="nav-menu-sub-detail" href="productById_1B5E43C3">SMD智能电子货架</a>&nbsp;&nbsp;
                                        <a class="nav-menu-sub-detail" href="productById_0B83D052">教仪智能立库</a>&nbsp;&nbsp;
                                    </span>
                                </li>
                                <li class="nav-menu-tuishi" onclick="window.location.href='/product/closure?type=1'">
                                    <span><a class="nav-menu-sub-title" href="product/closure_E935631E">停产及替换</a></span><br />
                                    <span><a class="nav-menu-sub-detail" href="product/closure_E935631E">即将停产&已停产替代信息</a></span>
                                </li>
                            </ul>
                        </li>
                        <li class="col-sm-home-2 col-md-home-2 col-lg-home-2 background-nav text-center menu-solution">
                            <a class="cursor-pointer" href="solution/index.htm"><span class="nav-text">行业方案</span></a>
                        </li>
                        <li class="col-sm-home-2 col-md-home-2 col-lg-home-2 background-nav text-center menu-download">
                            <a class="cursor-pointer" href="download/software/all/index.htm"><span class="nav-text">资料下载</span></a>
                        </li>
                        <li class="col-sm-home-2 col-md-home-2 col-lg-home-2 background-nav text-center menu-service">
                            <a class="cursor-pointer" href="service/repair/index.htm"><span class="nav-text">客户服务</span></a>
                        </li>
                        <li class="col-sm-home-2 col-md-home-2 col-lg-home-2 background-nav text-center menu-about">
                            <a class="cursor-pointer" href="about/profile/index.htm"><span class="nav-text">关于步科</span></a>
                        </li>
                        <li class="col-sm-home-2 col-md-home-2 col-lg-home-2 background-nav text-center menu-contact">
                            <a class="cursor-pointer" href="contact/index.htm"><span class="nav-text">联系我们</span></a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</div>