@model LinqEF.article

@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fiw b_lBottom">
    <select name="ce_to" id="ce_list2" style="width:150px" class="sic">
        <option value="%b0%a2%c1%aa%c7%f5%b5%cf%c0%ad%c4%b7"><i><i>AED</i>阿联酋迪拉姆</i></option>
        <option value="%b0%a2%b8%f9%cd%a2%b1%c8%cb%f7"><i><i>ARS</i>阿根廷比索</i></option>
        <option value="%b0%c4%d4%aa"><i><i>AUD</i>澳元</i></option>
        <option value="%b1%a3%bc%d3%c0%fb%d1%c7%c1%d0%b8%a5"><i><i>BGN</i>保加利亚列弗</i></option>
        <option value="%b0%cd%c1%d6%b5%da%c4%c9%b6%fb"><i><i>BHD</i>巴林第纳尔</i></option>
        <option value="%ce%c4%c0%b3%d4%aa"><i><i>BND</i>文莱元</i></option>
        <option value="%b0%cd%ce%f7%c0%d7%d1%c7%b6%fb"><i><i>BRL</i>巴西雷亚尔</i></option>
        <option value="%b0%d7%b6%ed%c2%de%cb%b9%c2%ac%b2%bc"><i><i>BYR</i>白俄罗斯卢布</i></option>
        <option value="%bc%d3%d4%aa"><i><i>CAD</i>加元</i></option>
        <option value="%c8%f0%ca%bf%b7%a8%c0%c9"><i><i>CHF</i>瑞士法郎</i></option>
        <option value="%d6%c7%c0%fb%b1%c8%cb%f7"><i><i>CLP</i>智利比索</i></option>
        <option value="%c8%cb%c3%f1%b1%d2%d4%aa"><i><i>CNY</i>人民币元</i></option>
        <option value="%b8%e7%c2%d7%b1%c8%d1%c7%b1%c8%cb%f7"><i><i>COP</i>哥伦比亚比索</i></option>
        <option value="%b8%e7%cb%b9%b4%ef%c0%e8%bc%d3%bf%c6%c0%ca"><i><i>CRC</i>哥斯达黎加科朗</i></option>
        <option value="%c8%fb%b6%fb%ce%ac%d1%c7%b5%da%c4%c9%b6%fb"><i><i>CSD</i>塞尔维亚第纳尔</i></option>
        <option value="%bd%dd%bf%cb%bf%cb%c0%ca"><i><i>CZK</i>捷克克朗</i></option>
        <option value="%b5%a4%c2%f3%bf%cb%c0%ca"><i><i>DKK</i>丹麦克朗</i></option>
        <option value="%b0%a3%bc%b0%b0%f7"><i><i>EGP</i>埃及镑</i></option>
        <option value="%c5%b7%d4%aa"><i><i>EUR</i>欧元</i></option>
        <option value="%d3%a2%b0%f7"><i><i>GBP</i>英镑</i></option>
        <option value="%b8%db%d4%aa"><i><i>HKD</i>港元</i></option>
        <option value="%bf%cb%c2%de%b5%d8%d1%c7%bf%e2%c4%c9"><i><i>HRK</i>克罗地亚库纳</i></option>
        <option value="%d0%d9%d1%c0%c0%fb%b8%a3%c1%d6"><i><i>HUF</i>匈牙利福林</i></option>
        <option value="%d3%a1%b6%c8%c2%ac%b1%c8"><i><i>INR</i>印度卢比</i></option>
        <option value="%d2%c1%c0%ad%bf%cb%b5%da%c4%c9%b6%fb"><i><i>IQD</i>伊拉克第纳尔</i></option>
        <option value="%b1%f9%b5%ba%bf%cb%c0%ca"><i><i>ISK</i>冰岛克朗</i></option>
        <option value="%d4%bc%b5%a9%b5%da%c4%c9%b6%fb"><i><i>JOD</i>约旦第纳尔</i></option>
        <option value="%c8%d5%d4%aa"><i><i>JPY</i>日元</i></option>
        <option value="%ba%ab%d4%aa"><i><i>KER</i>韩元</i></option>
        <option value="%bf%cf%c4%e1%d1%c7%cf%c8%c1%ee"><i><i>KES</i>肯尼亚先令</i></option>
        <option value="%bc%ed%c6%d2%d5%af%c8%f0%b6%fb"><i><i>KHR</i>柬埔寨瑞尔</i></option>
        <option value="%bf%c6%cd%fe%cc%d8%b5%da%c4%c9%b6%fb"><i><i>KWD</i>科威特第纳尔</i></option>
        <option value="%c0%cf%ce%ce%bb%f9%c6%d5"><i><i>LAK</i>老挝基普</i></option>
        <option value="%c0%e8%b0%cd%c4%db%b0%f7"><i><i>LBP</i>黎巴嫩镑</i></option>
        <option value="%cb%b9%c0%ef%c0%bc%bf%a8%c2%ac%b1%c8"><i><i>LKR</i>斯里兰卡卢比</i></option>
        <option value="%b0%c4%c3%c5%d4%aa"><i><i>MOP</i>澳门元</i></option>
        <option value="%c2%ed%c0%b4%ce%f7%d1%c7%c1%d6%bc%aa%cc%d8"><i><i>MYR</i>马来西亚林吉特</i></option>
        <option value="%c5%b2%cd%fe%bf%cb%c0%ca"><i><i>NOK</i>挪威克朗</i></option>
        <option value="%d0%c2%ce%f7%c0%bc%d4%aa"><i><i>NZD</i>新西兰元</i></option>
        <option value="%b0%a2%c2%fc%c0%ef%d1%c7%b6%fb"><i><i>OMR</i>阿曼里亚尔</i></option>
        <option value="%b7%c6%c2%c9%b1%f6%b1%c8%cb%f7"><i><i>PHP</i>菲律宾比索</i></option>
        <option value="%b2%a8%c0%bc%d7%c8%c2%de%cc%e1"><i><i>PLN</i>波兰兹罗提</i></option>
        <option value="%c2%de%c2%ed%c4%e1%d1%c7%c1%d0%d2%c1"><i><i>RON</i>罗马尼亚列伊</i></option>
        <option value="%b6%ed%c2%de%cb%b9%c2%ac%b2%bc"><i><i>RUB</i>俄罗斯卢布</i></option>
        <option value="%c9%b3%cc%d8%c0%ef%d1%c7%b6%fb"><i><i>SAR</i>沙特里亚尔</i></option>
        <option value="%c8%f0%b5%e4%bf%cb%c0%ca"><i><i>SEK</i>瑞典克朗</i></option>
        <option value="%d0%c2%bc%d3%c6%c2%d4%aa" selected="selected"><i><i>SGD</i>新加坡元</i></option>
        <option value="%d0%f0%c0%fb%d1%c7%b0%f7"><i><i>SYP</i>叙利亚镑</i></option>
        <option value="%cc%a9%ee%f9"><i><i>THB</i>泰铢</i></option>
        <option value="%d0%c2%cc%a8%b1%d2"><i><i>TWD</i>新台币</i></option>
        <option value="%cc%b9%c9%a3%c4%e1%d1%c7%cf%c8%c1%ee"><i><i>TZS</i>坦桑尼亚先令</i></option>
        <option value="%ce%da%b8%c9%b4%ef%cf%c8%c1%ee"><i><i>UGX</i>乌干达先令</i></option>
        <option value="%c3%c0%d4%aa"><i><i>USD</i>美元</i></option>
        <option value="%d4%bd%c4%cf%b6%dc"><i><i>VND</i>越南盾</i></option>
        <option value="%c4%cf%b7%c7%c0%bc%cc%d8"><i><i>ZAR</i>南非兰特</i></option>
    </select>
</div>





<div class="text-center">
    <ul class="pagination"></ul>
</div>

@section scripts{
<script src="/Scripts/pager.js"></script>
<script>
    function ss() {
        var lst = $("option");
        $.each(lst, function (i,n) {
            console.log($(n).text());
        })
    }

    $(function () {
        ss();
        $('.pagination').bsPagination({
            totalRecord: 200,
            recordPerPage: 10,
            currentPage: 3,
            setLinkAttr: function (page) {
                return 'href="javascript:alert(' + page + ')"';
            }
        });


        //$('.pagination').on('click', 'a', function () {
        //    $('.pagination').bsPagination({
        //        totalRecord: 200,
        //        currentPage: $(this).data('page'),
        //        setLinkAttr: function (page) {
        //            return 'href="#/page/' + page + '"';
        //        }
        //    });
        //});
    })
    
</script>

}