@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section navbar{
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb" style="padding-left:0px;padding-bottom:5px;margin-bottom:5px;">
                <li><a href="/">首页</a></li>
                <li class="active">客户服务</li>
            </ol>
            <hr style="border-top:3px solid #D70000;margin-top:0px;" />
        </div>
    </div>
</div>    
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><strong>客户服务</strong></h1>
        </div>
    </div>
    <div class="row" style="margin-left:0px;margin-right:0px;border-top:2px dotted #dcdcdc;">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>

    <div class="row empty">
        <div class="col-md-3 service-left">
            <div id="linkrepair" class="row background-service connect-row empty dropdown-toggle  active " data-toggle="dropdown" aria-expanded="true">
                <div class="col-md-4 col-xs-4 service-list-repair">
                    &nbsp;
                </div>
                <div class="col-md-8 col-xs-8">
                    <h3 class="colorgray activewhite" style="margin-bottom:15px;margin-top:15px;">
                        售后维修
                    </h3>
                </div>
            </div>
            <ul class="dropdown-menu" role="menu" aria-labelledby="linkrepair" style="width:98.5%;margin-top:0px;border-radius:0px;">
                <li role="presentation" class="text-center"><a role="menuitem" tabindex="-1" href="index.htm">维修进度查询</a></li>
                <li class="divider" style="padding:0px;margin:0px;"></li>
                <li role="presentation" class="text-center"><a role="menuitem" tabindex="-1" href="../terms/index.htm">售后服务条款</a></li>
            </ul>
        </div>
        <div class="col-md-3 service-middle">
            <div class="row background-service connect-row empty ">
                <div class="col-md-4 col-xs-4 service-list-qa">
                    &nbsp;
                </div>
                <a class="colorgray activewhite" href="../qa_B586526C">
                    <div class="col-md-8 col-xs-8">
                        <h3 style="margin-bottom:15px;margin-top:15px;">
                            常见问题
                        </h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 service-middle">
            <div id="linkrepair" class="row background-service connect-row empty dropdown-toggle " data-toggle="dropdown" aria-expanded="true">
                <div class="col-md-4 col-xs-4 service-list-ku">
                    &nbsp;
                </div>
                <div class="col-md-8 col-xs-8">
                    <h3 style="margin-bottom:15px;margin-top:15px;">
                        <a class="colorgray activewhite" href="#">步科大学</a>
                    </h3>
                </div>
            </div>
            <ul class="dropdown-menu" role="menu" aria-labelledby="linkku" style="width:97%;margin-top:0px;border-radius:0px;margin-left:5px;">
                <li role="presentation" class="text-center"><a role="menuitem" tabindex="-1" href="../kuintroduce/index.htm">课程介绍</a></li>
                <li class="divider" style="padding:0px;margin:0px;"></li>
                <li role="presentation" class="text-center"><a role="menuitem" tabindex="-1" href="../ku/index.htm">培训课程表</a></li>
                <li class="divider" style="padding:0px;margin:0px;"></li>
                <li role="presentation" class="text-center"><a role="menuitem" tabindex="-1" href="../kuhistory/index.htm">往期精彩回放</a></li>
                <li class="divider" style="padding:0px;margin:0px;"></li>
                <li role="presentation" class="text-center"><a role="menuitem" tabindex="-1" href="../kuvideo_B586526C">视频学习</a></li>
            </ul>
        </div>
        <div class="col-md-3 service-right">
            <div class="row background-service connect-row empty ">
                <div class="col-md-4 col-xs-4 service-list-bbs">
                    &nbsp;
                </div>
                <a class="colorgray activewhite" href="../bbs/index.htm">
                    <div class="col-md-8 col-xs-8">
                        <h3 style="margin-bottom:15px;margin-top:15px;">
                            技术论坛
                        </h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row empty" style="border-bottom:2px dotted #dcdcdc;">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row empty">
        <div class="col-md-12 empty">
            <h3 class="colorred"><strong>售后维修</strong><small> > 维修进度查询</small></h3>
        </div>
        <div class="col-md-4" style="margin-left:0px;margin-right:0px;padding-left:0px;">
            <form action="index.htm" method="POST" class="form-horizontal">
                <div class="input-group">
                    <input type="text" name="key" class="form-control" placeholder="输入快递单号查询维修进度">
                    <span class="input-group-btn">
                        <button class="btn background-nav" type="submit">
                            <i class="icon-search icon-large colorwhite"></i>
                        </button>
                    </span>
                </div>
                <input type="hidden" name="_token" value="BIodZtssbfHZ0zZiK7nIDsij5zYBM0NJyZ2vwbZq">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12">
            &nbsp;
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="colorred"><strong>售后联系方式</strong></h3>
        </div>
    </div>
    <div class="row" style="margin-left:0px;margin-right:0px;border-top:2px dotted #dcdcdc;">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <p>
                <strong>上海维修部</strong><br /><br />
                地址：上海市浦东新区张江高科技园区秋月路26号3幢<br />
                电话：021-6879 8588<br />
                传真：021-6879 7688<br />
                邮编：201203<br />
                收件人：售后维修部<br />
            </p>
        </div>
        <div class="col-md-4 col-xs-12">
            <p>
                <strong>深圳维修部</strong><br /><br />
                地址：深圳市南山区高新科技园北区朗山一路6号1栋<br />
                电话：0755-2658 5555<br />
                传真：0755-26616372<br />
                邮编：518057<br />
                收件人：售后维修部<br />
            </p>
        </div>
        <div class="col-md-4 col-xs-12">
            <p>
                <strong>常州维修部(只维修电机)</strong><br /><br />
                地址：常州市新北区昆仑路7号A栋2楼<br />
                电话：0519-8398 6980<br />
                传真：0519-8158 0527-830<br />
                邮编：213022<br />
                收件人：上海步科自动化股份有限公司(常州办事处）<br />
            </p>
        </div>
    </div>
    <div class="row" style="margin-left:0px;margin-right:0px;border-top:2px dotted #dcdcdc;">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
</div>