@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section navbar{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" style="padding-left:0px;padding-bottom:5px;margin-bottom:5px;">
                    <li><a href="/">首页</a></li>
                    <li class="active">关于我们</li>
                </ol>
                <hr style="border-top:3px solid #D70000;margin-top:0px;" />
            </div>
        </div>
    </div>
}
<div class="container">
    <div class="row empty">
        <div class="col-sm-home-1 col-md-home-1 col-lg-home-1 aboutkinco-menu-border">
            <div class="row empty">
                <div class="col-md-12 aboutkinco-menu">
                    <h2>关于步科</h2>
                </div>
                <div class="col-md-12 aboutkinco-menu aboutkinco-submenu">
                    <a href="index.htm">公司简介</a>
                </div>
                <div class="col-md-12 aboutkinco-menu aboutkinco-submenu">
                    <a href="../histroy/index.htm">公司历史</a>
                </div>
                <div class="col-md-12 aboutkinco-menu aboutkinco-submenu">
                    <a href="../culture/index.htm">公司文化</a>
                </div>
                <div class="col-md-12 aboutkinco-menu aboutkinco-submenu">
                    <a href="../company-dynamic/index.htm">公司动态</a>
                </div>
                <div class="col-md-12 aboutkinco-menu aboutkinco-submenu">
                    <a href="../product-dynamic/index.htm">产品动态</a>
                </div>
                <div class="col-md-12 aboutkinco-menu aboutkinco-submenu">
                    <a href="../environmental/index.htm">环保预案</a>
                </div>
                <div class="col-md-12 aboutkinco-menu aboutkinco-submenu">
                    <a href="../talents/index.htm">人才招聘</a>
                </div>
            </div>
        </div>

        <div class="col-md-9 aboutkinco-menu-border aboutkinco-menu-note">
            <img src="../../images/about/about_kinco.jpg" class="img-responsive center-block" alt="about" />
            <p>
                <br /><br />上海步科自动化股份有限公司专注于工业自动化产品的研发、生产、销售和技术服务，为工业自动化设备制造商提供整体解决方案，公司产品除国内销售外，亦销往土耳其、印度、意大利、德国等国家和地区，是中国领先的机器自动化解决方案供应商。<br /><br />
                公司主要产品包括工业人机界面、伺服系统、步进系统、可编程逻辑控制器、低压变频器等；广泛应用于纺织机械、包装机械、物流机械、工业机器人、医疗设备、电子制造设备、建材机械和暖通设备等自动化设备行业。随着国内劳动力成本的日益增加，国民经济众多行业对自动化设备和系统的需求将不断增长，公司产品和技术的应用领域亦将更加广泛。公司的工业人机界面产品市场占有率在本土品牌厂商中多年保持领先地位。<br /><br />
                公司以“为全球客户提供中国人的自动化解决方案”为使命，坚持投入大量资源进行自动化技术平台的研发，并在上海、深圳和常州设有研发机构。公司已拥有涵盖控制、驱动、人机交互、通讯和机电一体化设计等各方面的自动化技术平台，拥有多项专利和软件著作权。在公司自动化技术平台基础上开发的解决方案，被世界知名跨国公司采用。<br /><br />
                公司被认定为软件企业及国家高新技术企业，其全资子公司深圳市步科电气有限公司被认定为国家高新技术企业。2010年，公司被中国自动化网、上海世博（集团）有限公司评为“最具价值投资品牌”，同年公司被中国工控网评为“十年新兴品牌”；2012年，公司被中自网CA168评为“最具发展潜力品牌”；2013年，公司被慧聪网评为“电气行业十大创新企业”；2014年，公司被自动化大会组委会评为“年度最具发展潜力品牌”；2015年，“Kinco”品牌被深圳市知名品牌评价委员会评为“深圳知名品牌”；2016年，公司被e-works数字化企业网评为“2015中国制造业年度创新企业”。<br /><br />
                通过长期持续的研发投入和不断的技术积累，公司掌握了图形用户界面（GUI）技术、组态软件技术、全数字交流伺服控制技术、PLC程序编辑和编译技术、PLC运行系统软件技术、交流异步/同步电机无感矢量控制技术和交流异步/同步电机参数辨识技术等核心技术，并拥有专利54项、软件著作权30项、软件产品登记证11项。<br /><br />
                公司严格按照ISO9001质量体系的要求实行从研发、生产到销售的全面质量管理，以项目管理制的方式保证快速响应客户需求。通过分布全国及海外的经销商网络，为客户提供售前咨询、方案设计、项目实施和售后服务等全方位支持。奉行以客户为导向的理念，通过研究客户需求，挖掘高增长产业与自动化平台的结合机会，充分发挥技术平台价值。<br /><br />
                公司本着“以人为本，追求卓越”的经营理念，“亲和顾客”的价值规范，提倡“快乐工作”，建立“共建共享”的价值分配准则。我们以“自动化创造美好生活”为愿景，最终的目标是为客户创造最大价值。
                <hr style="border-top:2px dotted #dcdcdc;" />
            </p>
            <div class="row empty">
                <div class="col-md-5">
                    <h3 class="empty"><strong>公司战略</strong></h3>
                    <p>
                        <br />我们面向全球客户提供自动化系统解决方案和产品。我们的价值规范是亲和顾客，核心能力是持续创新，快速响应。我们根据客户要求不断开发新产品，这些新产品本身或者组成的系统方案能够降低客户的成本，并且保证可靠的质量和最好的服务。我们通过建立技术和市场方面的战略合作联盟来维持自己的创新与响应能力。我们的目标是要实现企业价值的最大化，我们的近期目标是实现纯利润的快速增长。
                        <br /><br />在总体战略的指导下，我们将会致力于两件事，一是壮大我们业已打造的自动化技术平台，二是在平台的基础上寻找并抓住那些快速增长的产业发展机会。这两件事也是相辅相成的，强大的平台技术支撑更好的产业发展，而产业的发展经验又反过来丰富我们的技术平台。
                    </p>
                </div>
                <div class="col-md-7"><img src="../../images/about/about_tree.jpg" class="img-responsive center-block" alt="test" /></div>
            </div>
            <hr style="border-top:2px dotted #dcdcdc;" />
            <div class="row empty">
                <div class="col-md-4">
                    <img src="../../images/about/about_logo.jpg" class="img-responsive center-block" alt="test" />
                </div>
                <div class="col-md-8">
                    <h3 class="empty"><strong>Kinco的由来</strong></h3>
                    <p>
                        <br />作为一家现代化的高新技术企业，步科的Logo采用了通用的国际化的英文字符，即：Kinco;
                        <br /><br />　　K代表King——领导、先驱者，代表步科的目标是要做中国乃至世界工控行业的领导者；
                        <br /><br />　　in代表innovation——创新，合成单词Kin在英文里代表运动，联想英文Kind——亲和、亲切，意味步科亲和顾客的服务策略；
                        <br /><br />　　co代表Cooperation——合作，正是步科员工之间的紧密合作，才发展至今天的规模，也正因为步科全球化的合作，才让我们的技术不断创新突破。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>